<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<h:head>

</h:head> 
<body> 
	<h1>BODEGA EL GRAN CAPITAN</h1>
	<h:form>
	    <p:panel header="Iniciar Sesión">
	        <h:panelGrid columns="4" cellpadding="5">
	            <h:outputLabel for="text" value="Usuario: " />
	            <p:inputText id="text" value="#{validationView.text}" required="true">
	                <f:validateLength minimum="2" maximum="5" />
	                <p:clientValidator />
	            </p:inputText>
	            <p:message for="text" display="icon" />
	            <h:outputText value="#{validationView.text}" />
	 
	            <h:outputLabel for="integer" value="Password: " />
	            <p:inputText id="integer" value="#{validationView.integer}">
	                <p:clientValidator event="keyup"/>
	            </p:inputText>
	            <p:message for="integer" display="icon" />
	            <h:outputText value="#{validationView.integer}" />
	        </h:panelGrid>
	 
	        <p:commandButton value="Iniciar" ajax="false" icon="ui-icon-check" validateClient="true" />
	   </p:panel>
	   
	   	<h3 style="margin-top:0">Gabriel Cano</h3>
		<p:separator />
		
		<p:editor value="#{editor.value}" />     
		
	</h:form>		
		<h:outputText value="#{TestPepe.nome}" />
		
</body> 
</html>
